{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Create Portfolio",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://gcp-api.apiwiz.io/v1/organizations",
    "x-name" : "Server1"
  } ],
  "paths" : {
    "/portfolios" : {
      "post" : {
        "tags" : [ "Portfolio" ],
        "summary" : "Create Portfolio",
        "operationId" : "Create Portfolio",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "jsessionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "637765d605f93a2c2297b516"
        }, {
          "name" : "content-type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "name", "summary" ],
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  },
                  "summary" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  }
                },
                "additionalProperties" : {
                  "type" : "object"
                },
                "description" : "Request Body",
                "example" : "{\n    \"name\":\"portfolio-1-dev-testport\",\n    \"summary\":\"this is some summary\",\n    \"description\":\"this is long description\"\n}"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Response for endpoint POST-portfolios",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "409" : {
            "description" : "Response for endpoint POST-portfolios",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Portfolio with given name already exists\",\"statusCode\":\"Api-Portfolio-9\"}}"
                }
              }
            }
          },
          "500" : {
            "description" : "Response for endpoint POST-portfolios",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Required request body is missing: public org.springframework.http.ResponseEntity<java.lang.Object> com.itorix.apiwiz.api.portfolio.serviceImpl.PortfolioServiceImpl.createPortfolio(java.lang.String,java.lang.String,com.itorix.apiwiz.api.portfolio.dto.PortfolioDTO) throws com.itorix.apiwiz.api.portfolio.exception.ItorixException\",\"statusCode\":\"Api-Portfolio-5\"}}"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "Request Body"
      }
    }
  },
  "components" : { },
  "x-original-swagger-version" : "2.0",
  "tags" : [ ],
  "security" : [ ],
  "x-mock" : true
}