{
  "openapi" : "3.0.1",
  "infos" : {
    "title" : "Products-API-1",
    "description" : "Swagger Documentation for Products API",
    "termsOfService" : "https://www.apiwiz.org/terms",
    "contact" : {
      "name" : "Service Desk",
      "url" : "https://apiwiz.io/legal",
      "email" : "service.desk@apiwiz.org"
    },
    "license" : {
      "name" : "open-license",
      "url" : "https://www.apiwiz.org/open-licence"
    },
    "version" : "v1.0.0"
  },
  "servers" : [ {
    "url" : "https://gcp-mock.apiwiz.io/itorix/v1/products",
    "x-name" : "Server1"
  } ],
  "tags" : [ {
    "name" : "Get details of products",
    "description" : "Grouping to handle product information"
  }, {
    "name" : "Search products from a catalog",
    "description" : "Grouping to handle product information"
  }, {
    "name" : "Get details of product catagories",
    "description" : "Grouping to handle product information"
  }, {
    "name" : "Delete a product ID from catalog",
    "description" : "Grouping to handle product information"
  }, {
    "name" : "Create and update product ID in a catalog",
    "description" : "Grouping to handle product information"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "Get details of products" ],
        "summary" : "Get all products",
        "description" : "Get all products",
        "operationId" : "get-allproducts",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "Auth-Token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "abcd",
          "x-key" : 4
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "x-key" : "parameter1"
          },
          "example" : "10",
          "x-key" : "parameter1"
        }, {
          "name" : "skip",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "x-key" : "parameter2"
          },
          "example" : "10",
          "x-key" : "parameter2"
        }, {
          "name" : "select",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "x-key" : "parameter3"
          },
          "example" : "title",
          "x-key" : "parameter3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Get all products",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getProductsResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ]
      },
      "x-description" : "Get all products"
    },
    "/search" : {
      "get" : {
        "tags" : [ "Search products from a catalog" ],
        "summary" : "Search Products",
        "description" : "Search Products",
        "operationId" : "get-searchproducts",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "q",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "phone",
          "x-key" : 4
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 5
          },
          "example" : "abcd",
          "x-key" : 5
        } ],
        "responses" : {
          "200" : {
            "description" : "Search Products",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/searchProductsResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ]
      },
      "x-description" : "Search Products"
    },
    "/categories" : {
      "get" : {
        "tags" : [ "Get details of product catagories" ],
        "summary" : "Get all products categories",
        "description" : "Get all products categories",
        "operationId" : "get-productcategories",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "abcd",
          "x-key" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "Get all products categories",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getProductsCategoryResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ]
      },
      "x-description" : "Get all products categories"
    },
    "/category/{categoryName}" : {
      "get" : {
        "tags" : [ "Get details of product catagories" ],
        "summary" : "Get products of a category",
        "description" : "Products of a category",
        "operationId" : "get-productsofcategory",
        "parameters" : [ {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "smartphones"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "Auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "abcd",
          "x-key" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "Schema to get details of a product ID in the catalog",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getProductsByCategoryResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ]
      },
      "x-description" : "Get products of a category"
    },
    "/add" : {
      "post" : {
        "tags" : [ "Create and update product ID in a catalog" ],
        "summary" : "Add a new product",
        "description" : "Add a new product",
        "operationId" : "post-addproduct",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Request content media type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "application/json",
          "x-key" : 4
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "Auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 5
          },
          "example" : "abcd",
          "x-key" : 5
        } ],
        "requestBody" : {
          "description" : "Schema to add a new product ID to the catalog",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/addNewProduct"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Schema to add product details",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/productResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ],
        "x-codegen-request-body-name" : "addNewProduct"
      },
      "x-description" : "Add a new product"
    },
    "/{id}" : {
      "get" : {
        "tags" : [ "Get details of products" ],
        "summary" : "Get a single product",
        "description" : "Get a single product",
        "operationId" : "get-singleproduct",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "abcd",
          "x-key" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "Schema to get a single product",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getProductDetails"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ]
      },
      "put" : {
        "tags" : [ "Create and update product ID in a catalog" ],
        "summary" : "Update a product",
        "description" : "Update a product",
        "operationId" : "put-updateproduct",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Request content media type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "application/json",
          "x-key" : 4
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "Auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 5
          },
          "example" : "abcd",
          "x-key" : 5
        } ],
        "requestBody" : {
          "description" : "Schema to update product details",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateProductsByID"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Schema to update product details",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/updateProductsByIDResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ],
        "x-codegen-request-body-name" : "updateProduct"
      },
      "delete" : {
        "tags" : [ "Delete a product ID from catalog" ],
        "summary" : "Delete a product",
        "description" : "Delete a product",
        "operationId" : "delete-product",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Response Content Media Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 1
          },
          "example" : "application/json",
          "x-key" : 1
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Access token to access API resources",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 2
          },
          "example" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
          "x-key" : 2
        }, {
          "name" : "x-tenant",
          "in" : "header",
          "description" : "Unique client or workspace identifier",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 3
          },
          "example" : "b4349714-47c7-4605-a81c-df509fc7e653",
          "x-key" : 3
        }, {
          "name" : "auth-token",
          "in" : "header",
          "description" : "Auth-token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "x-key" : 4
          },
          "example" : "abcd",
          "x-key" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "Schema to delete a single product",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deleteProductsByIDResp"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "Retry-After" : {
                "description" : "Number in seconds to wait",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Length" : {
                "description" : "Response content length in kilo bytes",
                "schema" : {
                  "type" : "integer"
                }
              },
              "Content-Type" : {
                "description" : "Response content media type",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-server" : {
                "description" : "Server which processed the request",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "GET", "POST", "DELETE", "PUT" ]
        } ]
      },
      "x-description" : "Get a single product"
    }
  },
  "components" : {
    "schemas" : {
      "getProductsResp" : {
        "type" : "object",
        "properties" : {
          "products" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "number",
                  "example" : 1
                },
                "title" : {
                  "type" : "string",
                  "example" : "iPhone 9"
                },
                "description" : {
                  "type" : "string",
                  "example" : "An apple mobile which is nothing like apple"
                },
                "price" : {
                  "type" : "number",
                  "example" : 549
                },
                "discountPercentage" : {
                  "type" : "number",
                  "example" : 12.96
                },
                "rating" : {
                  "type" : "number",
                  "example" : 4.69
                },
                "stock" : {
                  "type" : "number",
                  "example" : 94
                },
                "brand" : {
                  "type" : "string",
                  "example" : "Apple"
                },
                "category" : {
                  "type" : "string",
                  "example" : "smartphones"
                },
                "thumbnail" : {
                  "type" : "string",
                  "example" : "https://dummyjson.com/image/i/products/1/thumbnail.jpg"
                },
                "images" : {
                  "type" : "array",
                  "example" : [ "https://dummyjson.com/image/i/products/1/1.jpg", "https://dummyjson.com/image/i/products/1/2.jpg", "https://dummyjson.com/image/i/products/1/3.jpg", "https://dummyjson.com/image/i/products/1/4.jpg", "https://dummyjson.com/image/i/products/1/thumbnail.jpg" ],
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "total" : {
            "type" : "number",
            "example" : 100
          },
          "skip" : {
            "type" : "number",
            "example" : 0
          },
          "limit" : {
            "type" : "number",
            "example" : 30
          }
        }
      },
      "getProductDetails" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "example" : 1
          },
          "title" : {
            "type" : "string",
            "example" : "iPhone 9"
          },
          "description" : {
            "type" : "string",
            "example" : "An apple mobile which is nothing like apple"
          },
          "price" : {
            "type" : "number",
            "example" : 549
          },
          "discountPercentage" : {
            "type" : "number",
            "example" : 12.96
          },
          "rating" : {
            "type" : "number",
            "example" : 4.69
          },
          "stock" : {
            "type" : "number",
            "example" : 94
          },
          "brand" : {
            "type" : "string",
            "example" : "Apple"
          },
          "category" : {
            "type" : "string",
            "example" : "smartphones"
          },
          "thumbnail" : {
            "type" : "string",
            "example" : "https://dummyjson.com/image/i/products/1/thumbnail.jpg"
          },
          "images" : {
            "type" : "array",
            "example" : [ "https://dummyjson.com/image/i/products/1/1.jpg", "https://dummyjson.com/image/i/products/1/2.jpg", "https://dummyjson.com/image/i/products/1/3.jpg", "https://dummyjson.com/image/i/products/1/4.jpg", "https://dummyjson.com/image/i/products/1/thumbnail.jpg" ],
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "searchProductsResp" : {
        "type" : "object",
        "properties" : {
          "products" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "number",
                  "example" : 1
                },
                "title" : {
                  "type" : "string",
                  "example" : "iPhone 9"
                },
                "description" : {
                  "type" : "string",
                  "example" : "An apple mobile which is nothing like apple"
                },
                "price" : {
                  "type" : "number",
                  "example" : 549
                },
                "discountPercentage" : {
                  "type" : "number",
                  "example" : 12.96
                },
                "rating" : {
                  "type" : "number",
                  "example" : 4.69
                },
                "stock" : {
                  "type" : "number",
                  "example" : 94
                },
                "brand" : {
                  "type" : "string",
                  "example" : "Apple"
                },
                "category" : {
                  "type" : "string",
                  "example" : "smartphones"
                },
                "thumbnail" : {
                  "type" : "string",
                  "example" : "https://dummyjson.com/image/i/products/1/thumbnail.jpg"
                },
                "images" : {
                  "type" : "array",
                  "example" : [ "https://dummyjson.com/image/i/products/1/1.jpg", "https://dummyjson.com/image/i/products/1/2.jpg", "https://dummyjson.com/image/i/products/1/3.jpg", "https://dummyjson.com/image/i/products/1/4.jpg", "https://dummyjson.com/image/i/products/1/thumbnail.jpg" ],
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "total" : {
            "type" : "number",
            "example" : 4
          },
          "skip" : {
            "type" : "number",
            "example" : 0
          },
          "limit" : {
            "type" : "number",
            "example" : 4
          }
        }
      },
      "skipProductResp" : {
        "type" : "object",
        "properties" : {
          "products" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "number",
                  "example" : 11
                },
                "title" : {
                  "type" : "string",
                  "example" : "perfume Oil"
                },
                "price" : {
                  "type" : "number",
                  "example" : 13
                }
              }
            }
          },
          "total" : {
            "type" : "number",
            "example" : 100
          },
          "skip" : {
            "type" : "string",
            "example" : "10"
          },
          "limit" : {
            "type" : "number",
            "example" : 10
          }
        }
      },
      "getProductsCategoryResp" : {
        "type" : "object",
        "properties" : {
          "0" : {
            "type" : "string",
            "example" : "smartphones"
          },
          "1" : {
            "type" : "string",
            "example" : "laptops"
          },
          "2" : {
            "type" : "string",
            "example" : "fragrances"
          },
          "3" : {
            "type" : "string",
            "example" : "skincare"
          },
          "4" : {
            "type" : "string",
            "example" : "groceries"
          },
          "5" : {
            "type" : "string",
            "example" : "home-decoration"
          },
          "6" : {
            "type" : "string",
            "example" : "furniture"
          },
          "7" : {
            "type" : "string",
            "example" : "tops"
          },
          "8" : {
            "type" : "string",
            "example" : "womens-dresses"
          },
          "9" : {
            "type" : "string",
            "example" : "womens-shoes"
          },
          "10" : {
            "type" : "string",
            "example" : "mens-shirts"
          },
          "11" : {
            "type" : "string",
            "example" : "mens-shoes"
          },
          "12" : {
            "type" : "string",
            "example" : "mens-watches"
          },
          "13" : {
            "type" : "string",
            "example" : "womens-watches"
          },
          "14" : {
            "type" : "string",
            "example" : "womens-bags"
          },
          "15" : {
            "type" : "string",
            "example" : "womens-jewellery"
          },
          "16" : {
            "type" : "string",
            "example" : "sunglasses"
          },
          "17" : {
            "type" : "string",
            "example" : "automotive"
          },
          "18" : {
            "type" : "string",
            "example" : "motorcycle"
          },
          "19" : {
            "type" : "string",
            "example" : "lighting"
          }
        }
      },
      "getProductsByCategoryResp" : {
        "type" : "object",
        "properties" : {
          "products" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "number",
                  "example" : 1
                },
                "title" : {
                  "type" : "string",
                  "example" : "iPhone 9"
                },
                "description" : {
                  "type" : "string",
                  "example" : "An apple mobile which is nothing like apple"
                },
                "price" : {
                  "type" : "number",
                  "example" : 549
                },
                "discountPercentage" : {
                  "type" : "number",
                  "example" : 12.96
                },
                "rating" : {
                  "type" : "number",
                  "example" : 4.69
                },
                "stock" : {
                  "type" : "number",
                  "example" : 94
                },
                "brand" : {
                  "type" : "string",
                  "example" : "Apple"
                },
                "category" : {
                  "type" : "string",
                  "example" : "smartphones"
                },
                "thumbnail" : {
                  "type" : "string",
                  "example" : "https://dummyjson.com/image/i/products/1/thumbnail.jpg"
                },
                "images" : {
                  "type" : "array",
                  "example" : [ "https://dummyjson.com/image/i/products/1/1.jpg", "https://dummyjson.com/image/i/products/1/2.jpg", "https://dummyjson.com/image/i/products/1/3.jpg", "https://dummyjson.com/image/i/products/1/4.jpg", "https://dummyjson.com/image/i/products/1/thumbnail.jpg" ],
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "total" : {
            "type" : "number",
            "example" : 5
          },
          "skip" : {
            "type" : "number",
            "example" : 0
          },
          "limit" : {
            "type" : "number",
            "example" : 5
          }
        }
      },
      "productResp" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "example" : 101
          },
          "title" : {
            "type" : "string",
            "example" : "BMW Pencil"
          }
        }
      },
      "updateProductsByIDResp" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : "1"
          },
          "title" : {
            "type" : "string",
            "example" : "iPhone Galaxy +1"
          },
          "price" : {
            "type" : "number",
            "example" : 549
          },
          "stock" : {
            "type" : "number",
            "example" : 94
          },
          "rating" : {
            "type" : "number",
            "example" : 4.69
          },
          "images" : {
            "type" : "array",
            "example" : [ "https://dummyjson.com/image/i/products/1/1.jpg", "https://dummyjson.com/image/i/products/1/2.jpg", "https://dummyjson.com/image/i/products/1/3.jpg", "https://dummyjson.com/image/i/products/1/4.jpg", "https://dummyjson.com/image/i/products/1/thumbnail.jpg" ],
            "items" : {
              "type" : "string"
            }
          },
          "thumbnail" : {
            "type" : "string",
            "example" : "https://dummyjson.com/image/i/products/1/thumbnail.jpg"
          },
          "description" : {
            "type" : "string",
            "example" : "An apple mobile which is nothing like apple"
          },
          "brand" : {
            "type" : "string",
            "example" : "Apple"
          },
          "category" : {
            "type" : "string",
            "example" : "smartphones"
          }
        }
      },
      "errors" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string"
                },
                "userMessage" : {
                  "type" : "string"
                },
                "systemMessage" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
[...]
